@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto"), url(../fonts/Roboto-Light.woff);
  }
  
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), url(../fonts/Roboto-Regular.woff);
  }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto"), url(../fonts/Roboto-Thin.woff);
  }
