* {
    border:none;
	outline:none;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    color: #2A374A;
}

body,p,h1,h2,h3,ul,li{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px 0 5px 0;
    gap: 25px;
}

.nav__link{
    text-decoration: none;
    color: #000;
}

.bg-dark{
    background-color: #2A374A;
}

.main-title{
    text-align: center;
    font-size: 76px;
    font-weight: 700;
    margin-bottom: 20px;
}

.white-text{
    color: #fff;
}

.img-big__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.img-small__item{
    margin: 10px 0;
}

.fw-regular{
    font-weight: 400;
}

.fw-bold{
    font-weight: 700;
}

.footer{
    padding: 60px;
}

.secondary-menu{
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

.secondary-menu a{
    margin-left: 15px;
    text-decoration: none;
}

.secondary-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.secondary-title-description-text{
    margin-bottom: 30px;
}

.img-big__wrapper li{
    margin: auto;
}
.feedback-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials-content{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.socials-content a{
    text-decoration: none;
}

.contacts-content{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    border: 1px solid #B0B0B0;
    max-width: 350px;
    min-width: 350px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}
.card-title{
    margin-bottom: 40px;
    padding: 0 0 10px 0;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 13px;
    font-size: inherit;
}
.socials-title::after{
    border-bottom: 2px solid #B0B0B0;
    padding: 0 0 10px 0;
    content: '';
    width: 100%;
}

.socials-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.socials-item__img{
    max-width: 45px;
    width: 100%;
    overflow: hidden;
}
.contacts-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contacts-item__img{
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.card-header-underline{
    position: absolute;
    top: 49px;
    right: 20px;
    left: 20px;
    border: 1px solid #B0B0B0;
    z-index: -1;
}

.socials-item__desc{
    font-size: 12px;
    color: #B0B0B0;
    text-decoration: none;
}

.contacts-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contact-item__desc{
    font-size: 12px;
    color: #B0B0B0;
}

.card-wide{
    max-width: 734px;
    border: 1px solid #B0B0B0;
    min-width: 734px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    font-size: inherit;
}

.card-wide-header-underline{
    width: 40%;
    max-width: 300px;
}

.news-item{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #B0B0B0;
    padding-bottom: 10px;
}

.card-wide .card-title{
    margin-bottom: 20px;
}

.news-item__title{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.news-item__desc{
    color: #B0B0B0;
}

.news-item__date{
    font-size: 10px;
    color: #B0B0B0;
    margin-top: 15px;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.videos{
    width: 100%;
    background-color: #B0B0B0;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 40px;
}

.videos-item{
    width: 285px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.videos-wrapper{
    display: flex;
    justify-content: space-around;
}

.columns-content-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
}

.events, .news{
    max-width: 810px;
    border: 1px solid #B0B0B0;
    padding: 20px;
    width: 810px;
    margin-bottom: 30px;
}

.news{
    padding-right: 140px;
    position: relative;
}

.events-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.events-item{
    max-width: 360px;
    width: 100%;
}

.btn{
    border-radius: 6px;
    padding: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: #345304;
    transition: 0.2s;
}
.btn:focus{
    border: 1px solid #0a06f0;
    background-color: #345304;
    transition: 0.2s;
}

.btn-primary{
    background-color: #66a508;
    color: #fff;
}

.btn-wrapper_center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.events-item__bg{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 360px;
    height: 180px; 
    margin-bottom: 10px; 
}

.events-item__bg-text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px 12px;
    font-size: 14px;
    text-transform: uppercase;
}

.events-item__bg-text__blue{
    background-color: #6a6ae4;
}
.events-item__bg-text__green{
    background-color: #7b9c4a;
}
.events-item__bg-text__purple{
    background-color: #7d49a8;
}
.events-item__bg-text__yellow{
    background-color: #adaf4e;
}

.events-item__date{
    font-size: 14px;
    color: #B0B0B0;
    margin-top: 5px;
}

.link-clean{
    text-decoration: none;
}

.btn-wrapper_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.btn-primary__small{
    padding: 15px 40px;
}

.sign-up-desc{
    font-size: 14px;
    width: 60%;
}

.input{
    color: #000;
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    width: 100%;
    height: 46px;
    padding: 10px;
}

.input:focus{
    border: 1px solid #0a06f0;
}

.form-row{
    margin: 15px 0;
}
